<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#f5431a">
    <meta name="theme-color" content="#f5431a">
    <title>Document</title>

    <link rel="stylesheet" href="css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/js.js"></script>
</head>
<body>

<div class="page">
    {% include 'components/header.twig' %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% include 'components/footer.twig' %}
</div>

</body>
</html>
