$burgerWidth : 32px;
$burgerHeight : 20px;
$burgerColor : #fff;
$burgerLineHeight: 2px;

.burger {
  width: $burgerWidth;
  height: $burgerHeight;
  margin-right: 0;
  display: none;
  position: absolute;
  z-index: 2000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &--close {
    display: none;
  }

  span,
  &:before,
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    height: $burgerLineHeight;
    background: $burgerColor;
    display: block;
  }

  span {
    top: 50%;
    margin-top: -$burgerLineHeight/2;

    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;

    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -ms-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
  }

  &:after {
    content: '';
    top: 0;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  &:before {
    content: '';
    bottom: 0;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  &--open {
    span{
      opacity: 0;

      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }

    &:before {
      top: 16* 100 / 40 * 1%;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);

      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      right: 0;
    }

    &:after {
      top: 16* 100 / 40 * 1%;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);

      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      right: 0;
    }
  }

}

@media screen and (max-width: 900px) {
  .burger {
    display: block;
    transition: .3s;
  }
}

@media screen and (max-width: 500px) {
  .burger {
    width: 22px;
    height: 18px;
  }

  .burger span, .burger:before, .burger:after {
    height: 2px;
  }

  .burger span {
    margin-top: -1px;
  }
}