/*
@font-face{
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  url('../fonts/HelveticaNeueCyr-Medium.svg#webfont') format('svg');
  font-weight: 400;
}*/
